@import "variables";
// transition  shorthand
@mixin transition($value) {
    -webkit-transition: $value;
    transition: $value;
}

@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}

@mixin box-sizing {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin box-shadow {
    -webkit-box-shadow: 0 2px 10px 0 rgba(206, 210, 218, 0.6);
    -moz-box-shadow: 0 2px 10px 0 rgba(206, 210, 218, 0.6);
    -o-box-shadow: 0 2px 10px 0 rgba(206, 210, 218, 0.6);
    box-shadow: 0 2px 10px 0 rgba(206, 210, 218, 0.6);
}

@mixin border {
    border: 1px solid #E5E4E4;
}

@mixin white-bg {
    background-color: #fff;
}

@mixin slick-prev {
    width: 47px;
    height: 47px;
    z-index: 9;
    text-indent: -999px;
    border-radius: 50%;
    border: 2px solid rgba(225, 0, 146, 0.5);
    background: #fff;
    position: absolute;
    left: -11px;
    top: 50%;
    margin-top: -23px;
    cursor: pointer;
    overflow: hidden;
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: ease;
    &:hover {
        background: #f3f3f3;
    }
    &:before {
        content: '';
        position: absolute;
        border: solid rgba(225, 0, 146, 0.5);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        left: 50%;
        top: 50%;
        margin: -6px -5px;
    }
}

@mixin slick-next {
    width: 47px;
    height: 47px;
    z-index: 9;
    text-indent: -999px;
    border-radius: 50%;
    border: 2px solid rgba(225, 0, 146, 0.5);
    background: #fff;
    position: absolute;
    right: -11px;
    top: 50%;
    margin-top: -23px;
    cursor: pointer;
    overflow: hidden;
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: ease;
    &:hover {
        background: #f3f3f3;
    }
    &:before {
        content: '';
        position: absolute;
        border: solid rgba(225, 0, 146, 0.5);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        left: 50%;
        top: 50%;
        margin: -6px 0 0 -8px;
    }
}

.slick-prev {
    @include slick-prev;
}

.slick-next {
    @include slick-next;
}

.slick-disabled {
    pointer-events: none;
    display: none!important;
}

.slick-dots {
    text-align: center;
    li {
        margin-right: 8px;
        margin-left: 8px;
        padding: 0;
        display: inline-block;
        button {
            background: #ccc;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            font-size: 0;
            border: 0;
            padding: 0;
            cursor: pointer;
        }
        &.slick-active {
            button {
                background: #E10092;
            }
        }
    }
}

@mixin clear {
    content: '';
    display: table;
    clear: both;
}

@mixin wrap {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

@mixin flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin align($position) {
    position: absolute;
    z-index: 2;
    //backface-visibility: hidden;
    @if $position==valign {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
    @if $position==halign {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    @if $position==center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}

@mixin center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.primary_btn,
.primary-btn,
.js-pager__items .button {
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    padding: 0 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1), 0 2px 10px 0 rgba(0, 0, 0, .1);
    text-transform: none;
    display: inline-block;
    border-radius: 2px;
    background: #E10092;
    border: 1px solid transparent;
    color: #fff;
    font-family: $medium-font;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:hover {
        background: #E940AD;
        border: 1px solid #E940AD;
        transition: all .35s ease-in-out;
    }
    &.white {
        background: #fff;
        border: 1px solid #F07FC8;
        color: #E10092;
        &:hover {
            background: rgba(225, 0, 146, .05)!important;
            color: #E10092!important;
            transition: all .35s ease-in-out;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 3px 12px 0 rgba(0, 0, 0, 0.15) !important;
        }
    }
    &.btn-lg {
        font-size: 18px;
        padding: 0 28px;
        height: 46px;
        line-height: 46px;
    }
}

@mixin gradient {
    color: #220046;
    display: inline-block;
    font-family: $base-font;
}

.gradient {
    @include gradient;
}

// Bullet Gradient Listing
@mixin bullet-gradient {
    li {
        color: #220046 !important;
        display: inline-block;
        font-family: $medium-font;
        padding-left: 12px;
        &:before {
            content: "";
            position: absolute;
            top: 6px;
            left: 0;
            z-index: 1;
            height: 5px;
            width: 5px;
            background-color: rgba(34, 0, 70, 0.25) !important;
            border-radius: 50%;
            border: 2px;
        }
        a {
            font-family: $medium-font;
            font-size: 16px;
        }
    }
}

.bullet-gradient {
    @include bullet-gradient;
}

@mixin info-bullet {
    margin: 0 0 20px 0;
    li {
        margin: 0 0 10px;
        position: relative;
        padding-left: 32px;
        font-size: 16px;
        line-height: 1.3;
        &:before {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            background: #444;
            top: 5px;
            left: 10px;
            border-radius: 50%;
        }
        a {
            font-family: $medium-font;
            &:hover {
                color: #444;
            }
        }
        ul {
            li {
                margin: 10px 0;
                padding-left: 15px;
                &:before {
                    content: "-";
                    position: absolute;
                    top: -1px;
                    background: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                }
            }
        }
    }
}

.info-bullet {
    @include info-bullet;
}

@mixin listview-dashed {
    margin: 0 0 20px 0;
    li {
        position: relative;
        margin: 10px 0;
        padding-left: 15px;
        &:before {
            content: "-";
            position: absolute;
            top: -1px;
            background: 0;
            left: 0;
            width: 0;
            height: 0;
        }
        a {
            &:hover {
                color: #444;
            }
        }
    }
}

.listview-dashed {
    @include listview-dashed;
}

@mixin listing-arrow {
    margin: 10px 0 20px 0;
    li {
        margin: 0 0 10px;
        position: relative;
        padding-left: 32px;
        font-size: 14px;
        line-height: 1.2;
        &:before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            background: url(../image/arrow-list.png) no-repeat left center;
            top: 4px;
            left: 10px;
            border-radius: 0;
        }
        a {
            &:hover {
                color: #444;
            }
        }
    }
}

.listing-arrow {
    @include listing-arrow;
}

//breakpoint
@mixin mquery($size) {
    @if $size==mobile {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @if $size==portraitMode {
        @media only screen and (max-width: 1023px) {
            @content;
        }
    }
    @if $size==landscapeMode {
        @media only screen and (max-width: 1060px) {
            @content;
        }
    }
    @if $size == tabmin {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }
}

@mixin heading-outer {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 48px;
    position: relative;
    @include mquery(mobile) {
        padding: 0;
    }
    h1 {
        @include heading1;
    }
    h2 {
        @include heading2;
    }
}

@mixin heading1 {
    font-size: 48px;
    @include gradient;
    margin-bottom: 10px;
    @include mquery(mobile) {
        font-size: 32px
    }
    >div {
        display: inline-block;
        letter-spacing: -2px;
        color: #220046;
    }
}

.heading1 {
    @include heading1;
}

@mixin heading2 {
    font-size: 18px;
    margin-top: 10px;
    color: #575757;
    font-family: $base-font;
}

.heading2 {
    @include heading2;
    &.font-size34 {
        font-size: 34px;
    }
}

.sm-head {
    text-align: center;
    margin-bottom: 24px;
    position: relative;
    .heading1 {
        @include heading1;
        font-size: 34px;
        margin-bottom: 0;
        @include mquery(mobile) {
            font-size: 28px;
        }
    }
    .heading2 {
        @include heading2;
        font-size: 16px;
        margin-top: 8px;
    }
}

@mixin menu-li {
    padding-bottom: 3px;
    background: 0;
    background-size: 100% 3px;
}

@mixin menu-li-active {
    padding-bottom: 3px;
    border-bottom: 3px solid #444;
    animation: forward1 .3s linear forwards .3s;
    a {
        color: #bfbfbf;
    }
}

label {
    font-size: 16px;
    margin-bottom: 3px;
    display: block;
}

.form-item {
    margin-bottom: 32px
}

.form-text,
.form-email,
textarea,
select,
.form-date {
    display: block;
    width: 100%;
    height: 42px;
    font-size: 14px;
    line-height: 28px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-sizing: border-box;
    height: auto;
    padding: 6px;
    color: #757575;
    outline: none;
    &:focus {
        box-shadow: 1px 1px 11px 6px rgba(224, 224, 224, 0.5) !important;
        border-color: #F07FC8!important;
        border-bottom-color: transparent;
        color: #444;
    }
}

textarea {
    resize: none!important;
    height: 154px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: url(../image/icons/down-arrow.png) no-repeat right center;
}

.card {
    @include white-bg;
    @include border-radius(2px);
    @include box-shadow;
    @include border;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px 0;
}

.form-radio[type=radio]+label {
    position: relative;
    padding-left: 30px;
    display: inline-block;
}

.form-radio[type=radio]:checked,
.form-radio[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-radio[type=radio]:checked+label:before,
.form-radio[type=radio]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: transparent;
    border: 1px solid #E10092;
}

.form-radio[type=radio]:checked+label:after,
.form-radio[type=radio]:not(:checked)+label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: rgba(225, 0, 146, 0.5);
    position: absolute;
    top: 0;
    left: 4px;
    bottom: 0;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    margin: 4px auto;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form-radio[type=radio]:checked+label:before {
    border-color: #E10092 !important;
}

.form-radio[type=radio]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

//slick dots in one line
.slick-dots {
    @include mquery(mobile) {
        white-space: nowrap;
        overflow: auto;
    }
}

//Slider for youtube for left-right arrow in music & beauty page
.slick-slider.three-slider-arrow {
    @include mquery(mobile) {
        padding-left: 40px;
        padding-right: 40px;
    }
    .slick-arrow,
    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
        @include mquery(mobile) {
            display: block!important;
            transform: scale(0.8);
        }
        &.slick-prev {
            @include mquery(mobile) {
                left: 2px!important;
            }
        }
        &.slick-next {
            @include mquery(mobile) {
                right: 2px!important;
            }
        }
        &.slick-disabled {
            @include mquery(mobile) {
                display: none!important;
            }
        }
    }
}
