//color
$primary: #333c4e;
$orange: #F59C00;
$dark-orange: #E63E30;
$blue: #3d7cc9;
$light-color: #4d576d;
$gray-bg: #f6f6f6;
$navy: #1F284F;
$cyan: #39C2E9;
$grey: #97A3AF;
$black: #000000;
$white: #ffffff;
$dark-gray: #444444;
$red: #ff0000;


//fonts
$base-font:'VoltePlay-Regular',sans-serif;
$medium-font:'VoltePlay-Medium',sans-serif;
$semi-bold: 'VoltePlay-SemiBold',sans-serif;
$bold-font: 'VoltePlay-Bold',sans-serif;


